# Rust
target
Cargo.lock

# Draw.io
.$*
~$*

# Arduino
arduino.json
c_cpp_properties.json
build

# Keys & Private data
private

# Electronics
electronics/living/living-backups
electronics/pc-table/pc-table-backups
\#auto_saved_files\#
~*
_autosave-*